# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Log files
*.tlog

# Intermediate directories
Debug/
Release/

# User-specific files
*.sdf
*.user
